/* @import links */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Page Settings */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: rgb(255, 255, 255);
}

/* Navigation bar */
nav {
    width: 100vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    height: 60%;
    width: auto;
    padding: 0 2vw;
    cursor: pointer;
    transition: 0.5s ease;
}

#dropdownMenu {
    width: 16vw;
    height: 22vh;
    background-color: rgba(0, 0, 0, 0.64);
    position: fixed;
    left: 2vw;
    top: 8vh;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.325);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

#dropdownMenu button {
    color: white;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 70%;
    padding: 1vh 0;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    transition: 0.3s ease;
}

#dropdownMenu button:hover {
    color: rgb(212, 14, 14);
    font-weight: 500;
    cursor: pointer;
}

nav img:hover {
    transform: scale(1.1);
}

#navTitle {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
}

#navTitle h1 {
    color: rgb(196, 0, 0);
    font-size: 2.5em;
    word-spacing: .2vw;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navButtonHolder {
    width: 28vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.navButton {
    color: rgb(28, 32, 55);
    background-color: transparent;
    border: 1px solid rgb(196, 0, 0);
    padding: 10px;
    transition: .2s ease;
    font-size: 1em;
}

.navButton:hover {
    background-color: rgb(174, 0, 0);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}

/* Nav Divider */
#navDivider {
    width: 100vw;
    height: 8vh;
}

/* Header Block */
header {
    width: 100vw;
    height: 50vh;
    background-image: url("/thedoitparty/assets/images/background/russiaWAR.webp");
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    color: white;
    font-size: 3em;
    letter-spacing: 5px;
    padding: 5vh 20vw;
    text-shadow: .1em .1em 0 black;
    background-color: rgba(0, 0, 0, 0.500);
}

header h2 {
    color: rgb(230, 230, 230);
    font-size: 2em;
    letter-spacing: 3px;
    padding: 2vh 10vw;
    background-color: rgba(0, 0, 0, 0.500);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: .1em .1em 0 black;
}

/* Press Release Section */
section {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10vh;
}

section h3 {
    color:rgb(28, 32, 55);
    font-size: 1.9em;
    font-family: 'Times New Roman', Times, serif;
    padding: 4vh 0;
}

section p {
    color:rgb(28, 32, 55);
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    padding: 2vh 0;
}