/* @import links */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Page Settings */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: rgb(255, 255, 255);
}

/* Navigation bar */
nav {
    width: 100vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    height: 60%;
    width: auto;
    padding: 0 2vw;
    cursor: pointer;
    transition: 0.5s ease;
}

#dropdownMenu {
    width: 16vw;
    height: 22vh;
    background-color: rgba(0, 0, 0, 0.64);
    position: fixed;
    left: 2vw;
    top: 8vh;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.325);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

#dropdownMenu button {
    color: white;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 70%;
    padding: 1vh 0;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    transition: 0.3s ease;
}

#dropdownMenu button:hover {
    color: rgb(212, 14, 14);
    font-weight: 500;
    cursor: pointer;
}

nav img:hover {
    transform: scale(1.1);
}

#navTitle {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
}

#navTitle h1 {
    color: rgb(196, 0, 0);
    font-size: 2.5em;
    word-spacing: .2vw;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navButtonHolder {
    width: 28vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.navButton {
    color: rgb(28, 32, 55);
    background-color: transparent;
    border: 1px solid rgb(196, 0, 0);
    padding: 10px;
    transition: .2s ease;
    font-size: 1em;
}

.navButton:hover {
    background-color: rgb(174, 0, 0);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}

/* Nav Divider */
#navDivider {
    width: 100vw;
    height: 8vh;
}

/* Header bar */
header {
    width: 100vw;
    height: 38vh;
    padding-top: 10vh;
    background-image: url("/thedoitparty/assets/images/background/flag2.jpeg"); /* Change to /thedoitparty */
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-position-y: -15vh;
    z-index: 2;
}

/* About Section */
#aboutInfo {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url("/thedoitparty/assets/images/material/foggybirds.png"); /* Change to /thedoitparty */
}

.sectionHeader {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3em;
    color: rgb(33, 33, 50);
    padding: 0 15vw;
}

.sectionPar {
    padding: 2vh 15vw;
    color: rgb(33, 33, 50);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.1em;
}

#imageHolder {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

#imageHolder img {
    height: 200px;
    width: 220px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.262);
}

/* Inspired Images */
#inspiredImages {
    width: 100vw;
    height: 40vh;
    background-color: rgb(33, 33, 50);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#voteBanner {
    width: 100vw;
    height: 8vh;
    background-color: rgb(212, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

#voteBanner button {
    width: auto;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;   
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.594);
    font-size: 1.5em;
    letter-spacing: 5px;
    cursor: pointer;
}

#inspiredImages h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 3vh 0;
    font-size: 2em;
}

#inspImgs {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inspImgs img {
    height: auto;
    width: 40%;
}

/* Platform Section */
#platformInfo {
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content:space-between;
    align-items: start;
    flex-direction: column;
}

#platformInfo h1 {
    padding: 3vh 15vw;
}

#platformInfo p {
    padding: 1vh 15vw;
    height: 35vh;
}

/* Spotlight Section */
#spotlight {
    width: 100vw;
    height: 65vh;
    background-color: white;
    display: flex;
}

#spotlight img {
    width: 50%;
    height: 100%;
    filter: contrast(10%);
}

#spotlight div {
    width: 50%;
    height: 100%;
    background-image: url("/thedoitparty/assets/images/material/foggybirds.png"); /* Change to /thedoitparty */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#spotlight h1 {
    color:rgb(28, 32, 55);
    font-size: 3em;
    padding: 2vh 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

#spotlight p {
    color:rgb(28, 32, 55);
    font-size: 1.2em;
    width: 90%;
    padding: 3vh 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Footer */
footer {
    width: 100vw;
    height: 50vh;
    background-color: rgb(209, 19, 19);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

footer h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 3vh 10vw;
    font-size: 2.5em;
}

footer div {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

footer h3 {
    color: white;
    padding: 0 5.7vw;
    font-size: 1.8em;
    font-family: "Charm", serif;
    font-weight: 100;
}

footer h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    width: 100vw;
    text-align: center;
    padding: 7vh 0;
    cursor: pointer;
}

footer p {
    color: rgb(231, 231, 231);
    width: 100vw;
    text-align: center;
}